@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 2s forwards;
}

.slideOutToLeft {
  animation: slideOutToLeft 2s forwards;
}

.slideInFromRight {
  animation: slideInFromRight 2s forwards;
}

.slideOutToRight {
  animation: slideOutToRight 2s forwards;
}


.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* aligns items to the bottom of the flex container */
  flex-direction: column;
  /* stacks items vertically */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}


.spinner {
  display: inline-block;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loading-text {
  color: #fff;
  margin-top: 10px;
  /* decrease this value to move text closer to the spinner */
  font-size: 20px;
  text-align: center;
}